.DS_Store
.envrc
.vault_password
*.swp
*.log

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# .tfvars files
*.tfvars

# Ansible files
*.retry

# secrets for manifest
**/secrets/*

**/.DS_Store/*
